html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin-left: 30px;
}

.account-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.navigate-rooms {
  display: flex;
  width: 98%;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  margin: 5px;
  background-color: gray;
  color: pink;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100vw;
  background-color: gray;
}

.search-box {
  width: 100px;
  height: 30px;
}

.all-room-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 25px;
  margin: 40px;
}

.room-card {
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
}

img {
  height: 200px;
  width: 200px;
}

.user-dashboard {
  margin: 5px;
  height: 100%;
}

.dashboard-heading {
  display: flex;
  margin: 5px;
}

.user-data {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  height: 75%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.datepicker {
  color: orange;
}
.hidden {
  display: none;
}